/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Body style */
body {

    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    text-align: center;
}

/* Positioning our logo to the center */
.profile-image {

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Positioning user settings to the center */
.profile-user-settings {

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Positioning user stats to the center */
.profile-stats {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

/* Creating space betweent the button and username*/
.profile-edit-btn {

    margin-left: 1rem;
}

/* Positioning profile bio to the center, setting the desired font style and size */
.profile-bio {

    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    font-size: 30px;
}

/*Settings for the gallery items*/
div.gallery-item {

    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Allowing hover effect over the images*/
div.gallery-item img:hover {

    box-shadow: 0 0 5px 8px rgba(0, 140, 186, 0.5);
}

/* Positioning gallery information to the center */
div.gallery-item-info {

    padding: 15px;
    text-align: center;
}

div.gallery-item-type {

    display: none;
}

div.gallery-item-info li {

    display: inline-block;
    margin-right: 2rem;
}

/* Positioning gallery items to the center */
div.gallery-item-likes {

    padding: 15px;
    text-align: center;
}

/* Positioning gallery images to the center */

div.gallery-item img {

    display: inline-block;
    max-height: 200px;
    height: 100%;
    width: 100%;
}

/*Grid configurations */
.gallery {
    display: inline-grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(225px 225px);
    margin-top: 2.5rem;
}

/* Adding animation to the user name*/
.profile-user-name {

    /*Animation settings for the fade-in */
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 2s;
}

/*Allows us to specify our animations*/
@keyframes fade-in {

    /* Setting the opacity level for the elements*/
    from {
        opacity: 0%;
        width: 0%;
    }

    to {
        opacity: 100% width 100%;
    }
}

/*Media query  */

@media only screen and (max-width: 600px) {

    .container {
        display: inline-block;
    }

    .gallery {
        display: inline-grid;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(225px 225px);
        margin-top: 2.5rem;
    }

    
    .gallery-item-info li {
        display: inline-block;
        margin-right: 2rem;
    }
            
}