/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}


/* Positioning our logo to the center */
.profile-image {
    display: flex;
    align-items:center;
    justify-content: center;
    
}
/* Positioning user settings to the center */
.profile-user-settings {

    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* Positioning user stats to the center */
.profile-stats {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}
/* Positioning profile bio to the center, setting the desired font style and size */
.profile-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    font-size: 30px;
}
/*Settings for our gallery items*/
div.gallery-item {

    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    border: 1px solid #777;

}

div.gallery-item img {

    width: 100%;
    height: auto;
}
/*Allowing hover effect over the images*/
div.gallery-item img:hover{
    box-shadow: 0 0 5px 8px rgba(0, 140, 186, 0.5);
}
/* Positioning gallery information to the center */
div.gallery-item-info {

    padding: 15px;
    text-align: center;
}
/* Positioning gallery items to the center */

div.gallery-item-likes{
    padding: 15px;
    text-align: center;
}
/* Positioning gallery images to the center */

.gallery-image {
    width: 600;
    height: 400;
}
/*Grid configurations */
.gallery {
    display: grid;
    row-gap: 30px;
    grid-gap: 8px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(2,260px);
    padding: 10px;
    grid-auto-flow: dense;
    height: 100%;
    justify-content: space-between;
    
}
/*Settings for the pictures in the grid */
div.gallery-item {

    grid-column: span 3;    
    grid-row: span 3;
    grid-column: span 1;
    grid-row: span 2;
} 

.profile-user-name {

   	/*Animation settings for the fade-in */
       animation-name:fade-in;
       animation-duration: 1s;
       animation-timing-function: ease-out;
       animation-fill-mode: both;
       animation-delay: 2s;
   }
   /*Allows us to specify our animations*/
   @keyframes fade-in {
       /* Setting the opacity level for the elements*/
       from {opacity: 0%; width: 0%;}
       to {opacity: 100% width 100%;}
   }